section:not(#three) {
    height: 400px;
    margin: 10px 0;
  }
  #one {
    background-color: rgb(150, 150, 150);
  }
  #two {
    background-color: rgb(205, 205, 205);
  }
  #three {
    background-color: rgb(150, 150, 150);
    width: 400px;
    margin-bottom: 200px;
  }
  div {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #two div {
    width: 400px;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #blue {
    background-color: blue;
  }
  #orange {
    background-color: orange;
  }
  #purple {
    background-color: purple;
  }
  #brown {
    background-color: brown;
  }
  p {
    margin: 0;
    background-color: #0C2340;
    border: 2px solid #AE9142;
    font-size: 30px;
    color: #C99700;
    text-align: center;
  }
  p:nth-of-type(even) {
    color: #00843D;
  }

  /* START BELOW THIS LINE */

  /* 1 */

  #one{
      display: flex;
      /* 2 */
      justify-content: flex-end;
      /* 3 */
      flex-direction: column;
      /* 4 */
      align-items: center;

  }

  /* 5 */
  #two{
      display: flex;
     
      /* 6 */
      align-items: center;
      /* 7 */
      justify-content: space-between;

    /* 8 */
      
      flex-wrap: wrap;
    }
   
    /* 9 */
    #three{
        display: grid;
        /* 10 */
        grid-template-columns: repeat(4, 1fr);
        /* 11 */
        grid-auto-rows: 100px;
    }
    /* BONUS */
    /* 1 */
    #one{
        flex-direction: column-reverse ;
    }
    /* 2 */
   
    #two #brown{
        order: -1;

        /* 3 */
        align-self: flex-start;
    }


    #two #purple{
        align-self:flex-end;
        justify-self: right;

    }
/* 4 */

/* #three #p-one{
    grid-column: 1 / 3;
}

#three #p-two{
    grid-column: 3 / 5;
    
}
#three #p-three{
    grid-row: 2 / 4;

}
#three #p-four{
    grid-row: 2 / 4;
    grid-column: 2 / 4

}
#three #p-five{
    grid-row: 2 / 5;
    
}
#three #p-six{
    grid-column:1 / 4;

}

#three #p-eight{
    grid-column: 2 / 5;

} */

/* Whith Grid Area property */

#three{
    grid-template-areas: "one one two two"
    "three four four five"
    "three four four five"
    "six six six five"
    "seven eight eight eight";
}

#p-one{
    grid-area: one;
}
#p-two{
    grid-area: two;
}
#p-three{
    grid-area: three;
}
#p-four{
    grid-area: four;
}
#p-five{
    grid-area: five;
}
#p-six{
    grid-area: six;
}
#p-seven{
    grid-area: seven;
}
#p-eight{
    grid-area: eight;
}